@inject Blazored.LocalStorage.ILocalStorageService localStorage

<Card Class="@Theme.CardBackground">
    <CardBody>
        <CardText>
            <p class="mb-0"><a class="@Theme.TextColor" href="@Article.Url">@Article.Title</a></p>
            <span class="@Theme.TextColor sm" style="opacity: 0.7; font-size: x-small">@Article.Url</span>
        </CardText>
        @if (Article.Saved)
        {
            <Button Color="Color.Danger" @onclick="() => DeleteArticle.InvokeAsync(Article)">Unsave</Button>
        }
        else
        {
            <Button Color="Color.Info" @onclick="() => SaveArticle.InvokeAsync(Article)">Save</Button>
        }
    </CardBody>
</Card>

@code {

    [Parameter]
    public Article Article { get; set; }

    [Parameter]
    public EventCallback<Article> DeleteArticle { get; set; }

    [Parameter]
    public EventCallback<Article> SaveArticle { get; set; }

    [CascadingParameter]
    public BlazorNewsTheme Theme { get; set; }

}
