@page "/"
<style>
    .windowFeed {
        max-height: 1000px;
        overflow-x: hidden;
        margin-bottom: 10px;
        border-bottom: 5px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
</style>

<div class="main @Theme.MainBackground">
    <div class="content">
        <CascadingValue Value="Theme">
            <Container>
                <h5 class="px-3">Hacker News Feed</h5>
                <Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
                    <Items>
                        <Tab Name="feed">Feed</Tab>
                        <Tab Name="saved">Saved</Tab>
                        <Tab Name="settings">Settings</Tab>
                    </Items>
                    <Content>
                        <TabPanel Name="feed">
                            <div class="d-block d-sm-none windowFeed">
                                <Virtualize ItemsProvider="LoadMoreArticles" Context="article" OverscanCount="15">
                                    <ItemContent>
                                        @*<ArticleItemComponent Article="article" SaveArticle="SaveArticle" DeleteArticle="DeleteArticle" />*@
                                        <p>@article.Title</p>
                                    </ItemContent>
                                    <Placeholder>
                                        <div class="row justify-content-center @loadingCss">
                                            <div class="spinner-border px-2" role="status">
                                            </div>
                                        </div>
                                    </Placeholder>
                                </Virtualize>
                            </div>
                        </TabPanel>
                        <TabPanel Name="saved">
                            <div class="windowFeed">
                                <Virtualize Items="@SavedArticles" Context="article">
                                    <ArticleItemComponent Article="article" SaveArticle="SaveArticle" DeleteArticle="DeleteArticle" />
                                </Virtualize>
                            </div>
                        </TabPanel>
                        <TabPanel Name="settings">
                            <div class="windowFeed">
                                <SettingsComponent DeleteAllSavedArticles="DeleteAllSavedArticles" SetTheme="ToggleThemeSetting" />
                            </div>
                        </TabPanel>
                    </Content>
                </Tabs>
            </Container>
        </CascadingValue>
        
    </div>
</div>
